<%- include('partials/header') -%>

<main class="text-light" style="height: 95vh; background-color: #212121;">
  <div class="container">
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Lufta Discord Bot Dashboard</h1>
          <p class="lead text-muted">
            Merhaba dostum ben Lufta eğer takıldığın bir yer olursa benimle Discord hesabım üzerinden iletişime geçebilirsin.
          </p>
          <p>
            <a href="/auth" class="btn btn-primary my-2">Giriş Yap</a>
          </p>
        </div>
      </div>
    </section>
  </div>
</main>

<%- include('partials/footer') -%>
